{% extends "email/base_notification.html" %}
{% load i18n %}

{% block body %}
{% blocktrans %}
This is confirmation of your registration for {{ title }}.<br><br>

Location: {{ location }}<br>
Date: {{ start_date }}<br><br>

Click on the link below to see your registration and to add this appointment to your agenda.<br><br>
<a href="{{ link }}">{{ link }}</a><br><br>

If you want to cancel your registration of the event, use <a href="{{ leave_link }}">{{ leave_link }}</a>
{% endblocktrans %}
{% endblock %}
