{% extends "email/base_notification.html" %}
{% load i18n %}

{% block body %}
{% if state == 'waitinglist' %}
    {% blocktrans %}
        This is confirmation of your registration for the <em>waitinglist</em> of {{ title }}.<br><br>
    {% endblocktrans %}
{% elif state == 'accept' %}
    {% blocktrans %}
        This is confirmation of your registration for {{ title }}.<br><br>
    {% endblocktrans %}
{% elif state == 'maybe' %}
    {% blocktrans %}
        The state for registration for {{ title }} changed to <em>maybe</em>.<br><br>
    {% endblocktrans %}
{% elif state == 'reject' %}
    {% blocktrans %}
        The state for registration for {{ title }} changed to <em>rejected</em>.<br><br>
    {% endblocktrans %}
{% endif %}

{% blocktrans %}
Location: {{ location }}<br>
Date: {{ start_date }}<br><br>

Click on the link below to see your registration and to add this appointment to your agenda.<br><br>
<a href="{{ link }}">{{ link }}</a><br><br>

If you want to cancel your registration of the event, use <a href="{{ leave_link }}">{{ leave_link }}</a>
{% endblocktrans %}
{% endblock %}
