{% extends "email/base_notification.html" %}
{% load i18n %}
{% load core_str %}

{% block header_subtitle %}
    {% trans "Message to group" as header_subtitle %}
    {% include "email/element/header_subtitle.html" %}
{% endblock %}

{% block body %}
    {% include "email/element/title-link.html" with link_url=group_url link_title=group %}

    <div>{{message|safe}}</div>
    {% include "email/element/signature.html" with name=user_name %}

    {% concat user_url "/reply?subject=" subject as button_link %}
    {% trans "Reply" as button_label %}
    {% include "email/element/button-link.html" %}

{% endblock %}

{% block footer_settings %}
    {% include "email/element/footer-userorigin.html" %}
{% endblock %}