Django==3.2.6
psycopg2-binary==2.9.1
django-filter==2.4.0
Pillow==8.4.0
django-elasticsearch-dsl==7.2.2
Celery==5.2.6
uwsgi==2.0.19.1
mozilla-django-oidc==2.0.0
Sphinx==4.5.0
sphinx-autobuild==2021.3.14
coverage==5.5
prospector==1.7.7
ariadne==0.13.0
graphql-core==3.1.7
django-model-utils==4.1.1
mixer==7.2.1
django-storage-swift==1.2.19
elastic-apm==6.3.3
opentracing==2.4.0
django-notifications-hq==1.6.0
django-tenants==3.3.2
mysqlclient==2.0.3
django-storages==1.11.1
docutils==0.17.1
phpserialize==1.3
python-memcached==1.59
django-ses==2.6.1
textract==1.6.3
html2text==2020.1.16
django-widget-tweaks==1.4.8
pydash==5.0.2
django-signal-disabler==0.1.1
colour==0.1.5
pytz==2022.1
django-auditlog==1.0a1
requests==2.26.0
redis==3.5.3
elasticsearch==7.13.4
clamd==1.0.2
django-csp==3.7
prosemirror-py==0.2
django-autotranslate==1.2.0
futures==2.2.0 # remove when autotranslate dependency is fixed
qrcode==7.3.1