Django==3.1.7
psycopg2-binary==2.8.6
django-filter==2.4.0
Pillow==8.1.1
django-elasticsearch-dsl==7.1.4
Celery==5.0.5
uwsgi==2.0.19.1
mozilla-django-oidc==1.2.3
Sphinx==3.5.1
sphinx-autobuild==2020.9.1
coverage==5.5
prospector==1.2.0
ariadne==0.12.0
django-model-utils==4.1.1
mixer==6.3.0
django-storage-swift==1.2.19
elastic-apm==5.10.1
opentracing==2.4.0
django-notifications-hq==1.6.0
django-tenants==3.2.1
mysqlclient==2.0.3
django-storages==1.11.1
boto3==1.17.22
docutils==0.15
phpserialize==1.3
python-memcached==1.59
django-ses==1.0.3
python-magic==0.4.20
textract==1.6.3
html2text==2020.1.16
draftjs_exporter==v4.1.1
django-widget-tweaks==1.4.8
pydash==4.9.2
django-signal-disabler==0.1.1
colour==0.1.5
pytz==2020.5
django-auditlog==1.0a1
