{% extends "base_closed.html" %}

{% load i18n %}
{% load custom_tags %}

{% block content %}
<div class="walled-garden_titles">
	<h1 class="walled-garden_title">{{ config.NAME }}</h1>
	<h2 class="walled-garden_subtitle">{{ config.DESCIPTION }}</h2>
</div>
<div class="content">
	{% if config.LOGIN_INTRO %}
		{% draft_to_html config.LOGIN_INTRO %}
	{% else %}
		<p>{% blocktrans %}This site is closed. Log in to get access.{% endblocktrans %}</p>
	{% endif %}
</div>
<div class="elgg-module  elgg-module-walledgarden-login">
	<div class="elgg-body">
		<form class="elgg-form elgg-form-pleio-template-pleio-login">
			<fieldset>
				<div class="walled-garden_buttons">
					{% if config.IDP_ID %}
						<a href="{% url 'oidc_authentication_init' %}?idp={{ config.IDP_ID }}&next={{ next }}" class="button ___medium" rel="nofollow">{{ config.IDP_NAME }}</a>
						<div class="walled-garden_buttons-or">{% blocktrans %}or{% endblocktrans %}</div>
					{% endif %}
					<a href="{% url 'oidc_authentication_init' %}?next={{ next }}" class="button ___medium {% if config.IDP_ID %}___line{% endif%}" rel="nofollow">{% blocktrans %}Login using Pleio account{% endblocktrans %}</a>
				</div>
				<div class="walled-garden_register content">
					{% blocktrans %}Don't have an account?{% endblocktrans %} <a href="/login?login_credentials=true&amp;method=register" class="" rel="nofollow">{% blocktrans %}Register{% endblocktrans %}</a>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}