{% extends "base_closed.html" %}

{% load i18n %}
{% load custom_tags %}

{% block content %}
<div class="elgg-module  elgg-module-walledgarden-login">
	<div class="elgg-body">
		<form method="POST" enctype="multipart/form-data" novalidate class="elgg-form elgg-form-pleio-template-pleio-login">
			{% csrf_token %}

			{% for hidden_field in form.hidden_fields %}
            	{{ hidden_field }}
			{% endfor %}

			<fieldset>

				<h2>{% blocktrans %}Request access{% endblocktrans %}</h2>

				<p>{% blocktrans %}To enter this site, you must request access from the admin. Click the button to request access.{% endblocktrans %}</p>

				<p>
					<b>{% blocktrans %}Name{% endblocktrans %}</b><br>
					{{ name }}
				</p>
				<p>
					<b>{% blocktrans %}Emailaddress{% endblocktrans %}</b><br>
					{{ email }}
				</p>

				<div class="buttons ___space-between">
					<button type="submit" class="elgg-button button" id="request_access_button">{% blocktrans %}Request Access{% endblocktrans %} <span class="button__loader"></span></button>
					<a class="button ___link" href="/logout" rel="nofollow">{% blocktrans %}Logout{% endblocktrans %}</a>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}