{% load i18n %}
{% if notification.action == 'created' %}
    <strong>{{ notification.performer.name }}</strong>{% blocktrans %} has posted a new Blog: {% endblocktrans %}<strong><a href="{{ site_url }}{{ notification.entity.url }}?utm_medium=email&utm_campaign=notification_overview">{{ notification.entity.title }}</a></strong>{% if notification.entity.group %} in <strong><a href="{{ site_url }}{{ notification.entity.group.url }}?utm_medium=email&utm_campaign=notification_overview">{{ notification.entity.group.name }}</a></strong>{% endif %}. 
    {% if show_excerpt %}
        <div style="margin:0;padding:8px 0 0 0;">{{ notification.entity.description|truncatewords:26 }}</div>
    {% endif %}
{% endif %}
{% if notification.action == 'commented' %}
    <strong>{{ notification.performer.name }}</strong>{% blocktrans %} has responded at: {% endblocktrans %}<strong><a href="{{ site_url }}{{ notification.entity.url }}?utm_medium=email&utm_campaign=notification_overview">{{ notification.entity.title }}</a></strong>{% if notification.entity.group %} in <strong><a href="{{ site_url }}{{ notification.entity.group.url }}?utm_medium=email&utm_campaign=notification_overview">{{ notification.entity.group.name }}</a></strong>{% endif %}. 
    {% if show_excerpt %}
        <div style="margin:0;padding:8px 0 0 0;">{{ notification.entity.description|truncatewords:26 }}</div>
    {% endif %}
{% endif %}