{% load i18n %}
{% if notification.action == 'created' %}
    <strong>{{ notification.performer.name }}</strong>{% blocktrans %} has placed an Update: {% endblocktrans %}<strong><a href="{{ site_url }}{{ notification.entity.url }}">{{ notification.entity.title }}</a></strong> {% if notification.entity.group %}in <strong><a href="{{ site_url }}{{ notification.entity.group.url }}">{{ notification.entity.group.name }}</a></strong> {% endif %}.
{% endif %}
{% if notification.action == 'commented' %}
    <strong>{{ notification.performer.name }}</strong>{% blocktrans %} has responded at: {% endblocktrans %}<strong><a href="{{ site_url }}{{ notification.entity.url }}">{{ notification.entity.title }}</a></strong> {% if notification.entity.group %}in <strong><a href="{{ site_url }}{{ notification.entity.group.url }}">{{ notification.entity.group.name }}</a></strong> {% endif %}.
{% endif %}