{% load i18n %}
{% if notification.action == 'created' %}
    <strong>{{ notification.performer_name }}</strong>{% blocktrans %} has posted a new Wiki: {% endblocktrans %}<strong><a href="{{ site_url }}{{ notification.entity_url }}">{{ notification.entity_title }}</a></strong>{% if notification.entity_group %} in <strong><a href="{{ site_url }}{{ notification.entity_group_url }}">{{ notification.entity_group_name }}</a></strong>{% endif %}. <br><br>
    {% if show_excerpt %}
        <div style="margin:0;padding:8px 0 0 0;">{{ notification.entity_description|truncatewords:26 }}</div><br><br>
    {% endif %}
{% endif %}
{% if notification.action == 'commented' %}
    <strong>{{ notification.performer_name }}</strong>{% blocktrans %} has responded at: {% endblocktrans %}<strong><a href="{{ site_url }}{{ notification.entity_url }}">{{ notification.entity_title }}</a></strong>{% if notification.entity_group %} in <strong><a href="{{ site_url }}{{ notification.entity_group_url }}">{{ notification.entity_group_name }}</a></strong>{% endif %}. <br><br>
    {% if show_excerpt %}
        <div style="margin:0;padding:8px 0 0 0;">{{ notification.entity_description|truncatewords:26 }}</div><br><br>
    {% endif %}
{% endif %}