{% extends "base.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Backup site</h1>
    </div>

    <p>Backup site <strong>{{ site.schema }}</strong> on cluster <strong>{{ site.cluster.name }}</strong>? </p>

    <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="include_files" id="include_files" {% if form.include_files.value %}checked{% endif %}>
            <label class="form-check-label" for="include_files">{{ form.include_files.label }}</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="create_archive" id="create_archive" {% if form.create_archive.value %}checked{% endif %}>
            <label class="form-check-label" for="create_archive">{{ form.create_archive.label }}</label>
        </div>

        <div class="form-group">
            <br>
            <button class="btn btn-danger" type="submit">Backup site</button>
        </div>
    </form>
        {% if tasks %}
        <div class="mt-3">
        <h4>Previous backups</h4>
        {% include "backup_tasks.html" %}
        </div>
    {% endif %}

{% endblock %}