{% load static %}
<!doctype html>
<html lang="{{ config.LANGUAGE }}"{% if request.user.is_authenticated %} data-authenticated-user="{{ request.user.email }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Superadmin</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'superadmin/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'superadmin/dashboard.css' %}" rel="stylesheet" type="text/css">

    <style>
    </style>
</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">{{ config.NAME }}</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        -->
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/">Back to site</a>
            </li>
        </ul>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/superadmin">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/superadmin/settings">
                                <span data-feather="layers"></span>
                                Settings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/superadmin/tasks">
                                <span data-feather="layers"></span>
                                Tasks
                            </a>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/superadmin/group_copy">
                                        <span data-feather="layers"></span>
                                        Group copy
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/superadmin/scanlog">
                                <span data-feather="layers"></span>
                                Scan Log
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/superadmin/auditlog">
                                <span data-feather="layers"></span>
                                Audit Log
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/superadmin/agreements">
                                <span data-feather="layers"></span>
                                Custom agreements
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-primary {% if message.tags == 'error' %}alert-danger{% endif %}{% if message.tags == 'success' %}alert-success{% endif %} mt-2" role="alert">{{ message }}</div>
                    {% endfor %}
                </ul>
                {% endif %}

                {% block content %}{% endblock %}
            </main>
        </div>
    </div>


    <!-- JavaScript Bundle with Popper
    <script src="{% static 'superadmin/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
     -->
</body>
</html>
