{% extends "superadmin/base.html" %}

{% load i18n %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<p>This is the superadmin for {{ config.NAME }}</p>

<div class="card">
    <h5 class="card-header">Login Options</h5>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% for providerOption in config.OIDC_PROVIDER_OPTIONS %}
            <div class="mb-2 form-check">
                <input type="checkbox" name="oidc_providers" value="{{ providerOption.value }}"
                    {% if providerOption.value in config.OIDC_PROVIDERS %} checked {% endif %} />
                <label for="oidc_providers">{{ providerOption.label }}</label>
            </div>
            {% endfor %}
            {{ form.errors.oidc_providers }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
