{% extends "superadmin/base.html" %}

{% load i18n %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<p>This is the superadmin for {{ config.NAME }}</p>

<h3>Stats</h3>
<h5>Diskspace</h5>
<ul>
    <li>Database: <strong>{{ stats.db_usage|filesizeformat }}</strong></li>
    <li>Files: <strong>{{ stats.file_usage|filesizeformat }}</strong></li>
</ul>

{% endblock %}
