{% extends "superadmin/base.html" %}

{% load i18n %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Optional Features</h1>
    </div>

    <p>Enabled features for {{ config.NAME }}</p>

    <form method="post">
        {% csrf_token %}
        <div class="card">
            <h5 class="card-header">Features</h5>
            <div class="card-body">
                <div class="mb-2 form-check">
                <input type="checkbox" name="collab_editing_enabled" id="collab_editing_enabled" {% if config.COLLAB_EDITING_ENABLED %} checked {% endif %} />
                    <label for="collab_editing_enabled">Collaborative editing</label>
                </div>
                {{ form.errors.collab_editing_enabled }}
                <div class="mb-2 form-check">
                    <input type="checkbox" name="edit_user_name_enabled" id="edit_user_name_enabled" {% if config.EDIT_USER_NAME_ENABLED %} checked {% endif %} />
                        <label for="edit_user_name_enabled">Enable edit name</label>
                    </div>
                    {{ form.errors.edit_user_name_enabled }}
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

{% endblock %}