{% extends "superadmin/base.html" %}

{% load i18n %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Optional Features</h1>
    </div>

    <p>Enabled features for {{ config.NAME }}</p>

    <form method="post" class="optional-features-form">
        {% csrf_token %}
        <div class="card">
            <h5 class="card-header">Features</h5>
            <div class="card-body">
                <div class="mb-2 form-check">
                    <input type="checkbox" name="collab_editing_enabled" id="collab_editing_enabled" {% if config.COLLAB_EDITING_ENABLED %}
                           checked {% endif %} />
                    <label for="collab_editing_enabled">Collaborative editing</label>
                </div>
                {{ form.errors.collab_editing_enabled }}
                <div class="mb-2 form-check">
                    <input type="checkbox" name="push_notifications_enabled" id="push_notifications_enabled" {% if config.PUSH_NOTIFICATIONS_ENABLED %}
                           checked {% endif %} />
                    <label for="push_notifications_enabled">Enable push notifications</label>
                </div>
                {{ form.errors.edit_user_name_enabled }}
                <div class="mb-2 form-check">
                    <input type="checkbox" name="edit_user_name_enabled" id="edit_user_name_enabled" {% if config.EDIT_USER_NAME_ENABLED %}
                           checked {% endif %} />
                    <label for="edit_user_name_enabled">Enable edit name</label>
                </div>
                {{ form.errors.edit_user_name_enabled }}
                <div class="mb-2 form-check">
                    <input type="checkbox" name="datahub_external_content_enabled" id="datahub_external_content_enabled" {% if config.DATAHUB_EXTERNAL_CONTENT_ENABLED %}
                           checked {% endif %} />
                    <label for="datahub_external_content_enabled">Enable external content from datahub</label>
                </div>
                {{ form.errors.edit_user_name_enabled }}
                <div class="mb-2 select-input">
                    <label for="event_add_email_attendee">{% trans "Allow authenticated visitors to add event attendees" %} </label>
                    <select name="event_add_email_attendee" id="event_add_email_attendee" class="form-select" value="">
                        <option value="">
                            {% trans "Superadmins are allowed to add attendees" %}</option>
                        <option {% if config.EVENT_ADD_EMAIL_ATTENDEE == 'admin' %}selected="selected" {% endif %}value="admin">
                            {% trans "Site administrators are allowed to add attendees" %}</option>
                        <option {% if config.EVENT_ADD_EMAIL_ATTENDEE == 'owner' %}selected="selected" {% endif %}value="owner">
                            {% trans "Visitors with write privileges are allowed to add attendees" %}</option>
                    </select>
                </div>
                {{ form.errors.edit_user_name_enabled }}
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <br>
    <div class="card">
        <h5 class="card-header">Profile field sets</h5>
        <div class="card-body">
            {% if profile_sets %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Field</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile_set in profile_sets %}
                        <tr>
                            <td>{{ profile_set.name }}</td>
                            <td>{{ profile_set.field }}</td>
                            <td>
                                <a href="{% url "optional_features_edit_profile_field" profile_set.pk %}">edit</a> /
                                <a href="{% url "optional_features_delete_profile_field" profile_set.pk %}">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <a class="btn btn-primary" href="{% url "optional_features_add_profile_field" %}">Add profile field set</a>
        </div>
    </div>

{% endblock %}