{% extends "superadmin/base.html" %}

{% load i18n %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ title }}</h1>
    </div>


    <form method="post">
        {% csrf_token %}
        <div class="card">
            <h5 class="card-header">Profile-set details</h5>
            <div class="card-body">
                <div class="input-field varchar-field">
                    <label for="name">{{ form.name.label }}</label>
                    <input class="form-control"
                           type="text"
                           name="name"
                           id="name" value="{{ form.name.value }}">
                </div>
                <div class="input-field select-field">
                    <label for="field">{{ form.field.label }}</label>
                    <select class="form-select"
                            aria-label="{{ form.field.label }}"
                            id="field"
                            name="field">
                        {% for choice in form.field.field.choices %}
                            <option value="{{ choice.0 }}"{% ifequal choice.0 form.field.data %} selected{% endifequal %}>{{ choice.1 }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

{% endblock %}